<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="page" class="site">
        <div class="container">
            <div class="testi">
                <div class="head">
                    <h3>Testimonials</h3>
                    <p>See what people are saying...</p>
                </div>
                <div class="body">
                    <ul>
                        <li>
                            <div class="wrapper">
                                <div class="thumbnail">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXert6ekqTL1J7LVWNAhs65_GeostayFqh6A&s" alt="test1">
                                </div>
                                <div class="aside">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum error sequi provident, quam ullam quia aliquam. Eius voluptatum neque exercitationem?</p>
                                        <div class="name">
                                            <h4>Sarah Malik</h4>
                                            <p>Graphic Designer</p>
                                        </div>
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
